@import 'nib' // CSS3 extensions for Stylus: http://visionmedia.github.io/nib/

// variables!

slide_width = 848px
slide_height = 530px
slide_background = rgba(213, 213, 213, 0)

slide_transition_length = .8s
slide_transition_easing = ease
slide_transition_translate_x = 0px
slide_transition_translate_z = 0px
slide_transition_rotate_y = -20deg

bullet_transition_length = .6s
bullet_transition_easing = ease
bullet_transition_translate_x = 16px

// base

*
  box-sizing: border-box
  margin: 0
  padding: 0

@media print
  *
    -webkit-print-color-adjust: exact

@page
  size: landscape
  margin: 0

// bespoke.js layout styles

article
  transition: background slide_transition_length slide_transition_easing
  display: none
  &.bespoke-parent
    display: block
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    overflow: hidden
    @media print
      overflow: visible
      position: static
    perspective: 800px

.bespoke-slide
  transition:
    transform slide_transition_length slide_transition_easing,
    opacity slide_transition_length slide_transition_easing,
    background slide_transition_length slide_transition_easing
  transform-origin: 50% 50% 0
  transform-style: preserve-3d
  backface-visibility: hidden
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  width: slide_width
  height: slide_height
  position: absolute
  top: 50%
  margin-top: (slide_height / 2) * -1
  left: 50%
  margin-left: (slide_width / 2) * -1
  background: slide_background
  padding: 0
  border-radius: 0
  @media print
    zoom: 1 !important // disable bespoke-scale
    height: 743px // seems to correspond with an A4, landscape page height
    width: 100%
    page-break-before: always
    position: static
    margin: 0
  &.timer
    transition-delay: 0s
  &.tech
    &.bespoke-before
      transform: rotateY(-5deg)
      transition-duration: 3s
    + .bespoke-slide.bespoke-active
      transition-delay: .5s
    &.bespoke-after
      transform: translateY(-10%)
      opacity: 0
  &.code-bullets
    code
      padding-bottom: 0
      width: 80%
      &.bespoke-bullet-active
        transform: none
    &.narrow code
      width: 50%

.bespoke-before
  transform: translateY(-10px) translateZ(slide_transition_translate_z * -1) translateX(slide_transition_translate_x * -1) rotateY(slide_transition_rotate_y * -1)

.bespoke-after
  transform: translateY(-10px) translateZ(slide_transition_translate_z) translateX(slide_transition_translate_x) rotateY(slide_transition_rotate_y)
  @media print
    transform: none

.bespoke-inactive
  opacity: 0
  pointer-events: none
  @media print
    opacity 1

.bespoke-active
  opacity: 1
  transition-delay: .4s
  transform: translateY(-10px)

// bespoke-bullet styles

.bespoke-bullet
  transition: all bullet_transition_length bullet_transition_easing

.bespoke-bullet-inactive
  opacity: 0
  li&
    // transform: translateX(bullet_transition_translate_x)
  @media print
    opacity: 1

.bespoke-bullet-active
  opacity: 1

// bespoke-scale styles

.bespoke-scale-parent
  perspective: 600px
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  @media print
    transform: none !important

// bespoke-progress styles

.bespoke-progress-parent
  position: absolute
  top: 0
  left: 0
  right: 0
  height: 8px
  z-index: -1
  @media print
    display: none

.bespoke-progress-bar
  transition: all slide_transition_length slide_transition_easing
  position: absolute
  height: 100%
  top: 0
  background: #4B44FF

// bespoke-state styles

.emphatic,
.emphatic .bespoke-slide
  background: slide_background

// prism styles

code
  display: block // fixes flexbox rendering issues in Safari
  padding: 30px !important
  transform: translateZ(0px)
  max-height: 80%
  overflow: auto
  border-radius: 0 !important
  &.bespoke-bullet-inactive
    transform: translateY(10%) rotateX(10deg) rotateY(-5deg)
  &.bespoke-bullet-active
    transform: rotateX(3deg)
  &.shadow-dom.bespoke-bullet-active
    background: lighten(#272822, 15%)
  .token.property, .token.tag, .token.constant, .token.symbol
    color: #FF8CA3
  .token.comment
    color: #ADC4EC

// content styles

body
  font-family: helvetica, arial, sans-serif
  font-size: 18px
  color: #404040

h1
  max-width: 70%
  color: #4B44FF
  font-weight: 200
  font-size: 72px
  line-height: 82px
  letter-spacing: -2px
  margin-bottom: 16px
  transform: translateZ(-140px)

  &.bespoke-bullet-inactive
    transform: translateZ(-100px) rotateX(20deg)

h2
  font-weight: 200
  font-size: 42px
  letter-spacing: -1px
  margin-bottom: 12px
  color: #404040
  transform: translateZ(-100px)

h3
  font-size: 24px
  font-weight: 600
  letter-spacing: -1px
  margin-bottom: 24px
  color: #404040
  transform: translateZ(-60px)
  .title &.bespoke-bullet-inactive
    transform: translateZ(-80px)

hr
  visibility: hidden
  height: 20px

ul
  list-style: none
  transform: translateZ(-40px)

li
  margin-bottom: 12px

ul.tech
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  transform: translateZ(-100px) rotateX(4deg)

  li
    position: relative
    height: 20%
    line-height: 106px
    margin: 0
    color: white
    font-size: 42px
    font-weight: 200
    text-align: left
    padding-left: 30px

    &.bespoke-bullet-inactive
      opacity: 0

    &:nth-child(1)
      background: #4B44FF
      z-index: 5
      &.bespoke-bullet-inactive
        transform: translateY(-20%)
      .bespoke-before &
        transform: translateX(-130%);
        transition-delay: 0s
    &:nth-child(2)
      background: lighten(#4B44FF, 8%)
      z-index: 4
      &.bespoke-bullet-inactive
        transform: translateY(-100%)
      .bespoke-before &
        transform: translateX(-130%);
        transition-delay: .1s
    &:nth-child(3)
      background: lighten(#4B44FF, 16%)
      z-index: 3
      &.bespoke-bullet-inactive
        transform: translateY(-200%)
      .bespoke-before &
        transform: translateX(-130%);
        transition-delay: .2s
    &:nth-child(4)
      background: lighten(#4B44FF, 24%)
      z-index: 2
      &.bespoke-bullet-inactive
        transform: translateY(-300%)
      .bespoke-before &
        transform: translateX(-130%);
        transition-delay: .3s
    &:nth-child(5)
      background: lighten(#4B44FF, 32%)
      z-index: 1
      &.bespoke-bullet-inactive
        transform: translateY(-400%)
      .bespoke-before &
        transform: translateX(-130%);
        transition-delay: .4s

p
  margin: 0 100px 12px
  line-height: 22px
  transform: translateZ(-20px)

a
  color: #4B44FF
  text-decoration: none

.avatar
  img
    height: 240px
    border-radius: 200px
    transform: translateZ(-200px)

// "You're an expert" styles
.card
  background: rgba(213, 213, 213, 1)
[data-bespoke-state*='card']
  h1
    transform: translateZ(-100px)
    width: 100%
    padding: 50px 100px
    background: white
[data-bespoke-state*='title card']
  h1
    padding-bottom: 115px
    margin-top: -50px
  h3
    margin-top: -115px
[data-bespoke-state*='expert card']
  h1
    padding-top: 90px
    margin-top: -100px
