!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Web Components

    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-okaidia.css')

    link(rel='stylesheet', type='text/css', href='styles/main.css')

  body

    article

      section

      section.timer
        h1 15:00

      section.avatar
        a(href='http://twitter.com/markdalgleish', target='_blank')
          img(src='images/avatar.jpg')

      section(data-bespoke-state='title card')
        .bullet
        h1 Web Components
        h3.bullet Why you're already an expert

      section
        h1 Why?

      section(data-bespoke-state='card')
        h1 Components Today

      section
        code.bullet.language-markup
          pre.
            <link rel="stylesheet" type="text/css" href="my-widget.css" />
            <script src="my-widget.js"></script>
        hr
        code.bullet.language-markup
          pre.
            <div data-my-widget />
        hr
        code.bullet.language-javascript
          pre.
            $(function() {
              $('[data-my-widget]').myWidget();
            });

      section
        code.bullet.language-javascript
          pre div.innerHTML = '<div data-my-widget />'
        hr
        code.bullet.language-javascript
          pre $(div).find('[data-my-widget]').myWidget(); // again...

      section
        code.bullet.language-markup
          pre.
            <div data-my-widget>
              <div class="my-widget-foobar">
                  <input type="text" />
                  <button>Go</button>
              </div>
            </div>

      section(data-bespoke-state='card')
        h1 Web Components

      section
        code.bullet.language-markup
          pre.
            <link rel="import" href="my-widget.html">
        hr
        code.bullet.language-markup
          pre.
            <my-widget />

      section
        code.bullet.language-javascript
          pre.
            div.innerHTML = '<my-widget />';

      section.narrow.code-bullets
        code.bullet.language-markup
          pre.
            <my-widget>
        code.bullet.language-markup.shadow-dom
          pre.
            &nbsp;&nbsp;#document-fragment
            &nbsp;&nbsp;  <div class="foobar">
            &nbsp;&nbsp;    <input type="text" />
            &nbsp;&nbsp;    <button>Go</button>
            &nbsp;&nbsp;  </div>
        code.bullet.language-markup
          pre.
            </my-widget>

      section.tech
        .bullet
        ul.tech
          li
            span Custom Elements
          li
            span Shadow DOM
          li
            span Template Element
          li
            span HTML Imports
          li
            span CSS Decorators

      section(data-bespoke-state='title card')
        h1 DOM Elements
        h3 You're already an expert

      section
        h3.bullet Elements can be instantiated with markup
        code.bullet.language-markup
          pre <input type="text" />

      section
        h3.bullet Elements can be instantiated with JS
        hr
        code.bullet.language-javascript
          pre var input = document.createElement('input');
        hr
        code.bullet.language-javascript
          pre el.innerHTML = '<input type="text" />';

      section
        h3.bullet Elements are instances
        hr
        code.bullet.language-javascript
          pre input instanceof HTMLInputElement; // true
        hr
        code.bullet.language-javascript
          pre div instanceof HTMLDivElement; // true

      section
        h3.bullet Elements perform their own initialisation
        hr
        code.bullet.language-javascript
          pre el.innerHTML = '<input type="text" value="foobar" />';
        hr
        code.bullet.language-javascript
          pre el.querySelector('input').value; // "foobar"

      section
        h3.bullet Elements can respond to attribute changes
        hr
        code.bullet.language-javascript
          pre input.setAttribute('value', 'Foobar')
        hr
        code.bullet.language-javascript
          pre input.value; // "Foobar"

      section
        h3.bullet Different element types have different properties
        hr
        code.bullet.language-javascript
          pre input.value;
        hr
        code.bullet.language-javascript
          pre select.selectedIndex;

      section
        h3.bullet Elements can have hidden internal DOM structures
        hr
        input.bullet(type="date")
        hr
        hr
        code.bullet.language-markup
          pre <input type="date" />
        hr
        code.bullet.language-javascript
          pre dateInput.children.length; // 0

      section
        h3.bullet Elements can have their own private styles
        hr
        input.bullet(type="date")
        hr
        hr
        p.bullet (Notice you <strong>don't</strong> need to do this)
        code.bullet.language-markup
          pre <link rel="stylesheet" type="text/css" href="calendar.css" />

      section
        h3.bullet Elements can provide style hooks to their internals
        code.bullet.language-css
          pre.
            dialog::backdrop {
              background: black;
            }

      section(data-bespoke-state='card')
        h1 Custom Elements

      section
        h3.bullet Register a new custom element
        code.bullet.language-javascript
          pre.
            var MyElement = document.register('my-element');

      section
        h3.bullet Custom elements can be instantiated with markup
        code.bullet.language-markup
          pre <my-element />

      section
        h3.bullet Custom elements can be instantiated with JS
        hr
        code.bullet.language-javascript
          pre document.createElement('my-element');
        hr
        code.bullet.language-javascript
          pre el.innerHTML = '<my-element />';
        hr
        code.bullet.language-javascript
          pre new MyElement();

      section
        h3.bullet Custom elements are instances
        code.bullet.language-javascript
          pre document.create('my-element') instanceof MyElement; // true

      section.code-bullets
        h3.bullet Custom elements can perform their own initialisation
        hr
        code.bullet.language-javascript
          pre.
            document.register('my-element', {
              prototype: Object.create(HTMLElement.prototype, {
        code.bullet.language-javascript
          pre.
            &nbsp;&nbsp;&nbsp;&nbsp;createdCallback: {
            &nbsp;&nbsp;&nbsp;&nbsp;  value: function() {
            &nbsp;&nbsp;&nbsp;&nbsp;    this.innerHTML = '<h1>ELEMENT CREATED!</h1>';
            &nbsp;&nbsp;&nbsp;&nbsp;  }
            &nbsp;&nbsp;&nbsp;&nbsp;}
        code.bullet.language-javascript
          pre.
              })
            });

      section.code-bullets
        h3.bullet Custom elements can respond to attribute changes
        hr
        code.bullet.language-javascript
          pre.
            document.register('my-element', {
              prototype: Object.create(HTMLElement.prototype, {
        code.bullet.language-javascript
          pre.
            &nbsp;&nbsp;&nbsp;&nbsp;attributeChangedCallback: {
            &nbsp;&nbsp;&nbsp;&nbsp;  value: function(attr, oldVal, newVal) {
            &nbsp;&nbsp;&nbsp;&nbsp;    this.innerHTML('<h1>ATTRIBUTE CHANGED!</h1>');
            &nbsp;&nbsp;&nbsp;&nbsp;  }
            &nbsp;&nbsp;&nbsp;&nbsp;}
        code.bullet.language-javascript
          pre.
              })
            });

      section.code-bullets
        h3.bullet Custom elements can have custom properties
        hr
        code.bullet.language-javascript
          pre.
            document.register('my-element', {
              prototype: Object.create(HTMLElement.prototype, {
        code.bullet.language-javascript
          pre.
            &nbsp;&nbsp;&nbsp;&nbsp;foo: {
            &nbsp;&nbsp;&nbsp;&nbsp;  get: function() {
            &nbsp;&nbsp;&nbsp;&nbsp;    return 'bar';
            &nbsp;&nbsp;&nbsp;&nbsp;  }
            &nbsp;&nbsp;&nbsp;&nbsp;}
        code.bullet.language-javascript
          pre.
              })
            });

      section(data-bespoke-state='card')
        h1 Shadow DOM

      section.code-bullets
        h3.bullet Custom elements can have hidden internal DOM structures
        hr
        code.bullet.language-javascript
          pre.
            createdCallback: {
              value: function() {
                var shadow = this.createShadowRoot();
                shadow.innerHTML = "<h1>SHADOW DOM!</h1>";
              }
            }

      section(data-bespoke-state='card')
        h1 Private Styles

      section
        h3.bullet Custom elements have private styles by default
        hr
        code.bullet.language-javascript
          pre.
            shadow = this.createShadowRoot();
            shadow.innerHTML =
              "<style>em { color: green; }</style>"" +
              "<em>I'm green</em>";
        hr
        code.bullet.language-markup
          pre.
            <my-element />
            <em>I'm not green</em>

      section
        h3.bullet Custom elements can provide style hooks to their internals
        hr
        code.bullet.language-javascript
          pre.
            createdCallback: {
              value: function() {
                var shadow = this.createShadowRoot();
                shadow.innerHTML = 'Hello <em part="world">World</em>';
              }
            }
        hr
        code.bullet.language-css
          pre.
            my-element::part(world) {
              color: green;
            }

      section(data-bespoke-state='card')
        h1 Trying it for yourself

      section
        h2.bullet <a href="chrome://flags">chrome://flags</a>
        h3.bullet Enable "experimental Web Platform features"

      section
        h3.bullet In the console, run:
        code.bullet.language-javascript
          pre.
            var FooBar = document.register('foo-bar');
        hr
        hr
        h3.bullet Then, experiment!

      section
        h1 Thank you!

    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
